<!-- FOOTER -->

<footer>
  <p class="copyright">
    Copyright &copy;
    <a href="https://proficientngi.netlify.com/" class="" target="_blank"
      >Adebayour66265@yahoo.com</a
    >
    All right reserved.
  </p>
</footer>
