<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <link rel="stylesheet" href="/login.css" />

  <title>Dashbord</title>
  <body>
    <main>
      <h1 class="section-title">Welcome to your Dashbord</h1>

      <div class="home-btn-group">
        <a href="/api/users/signout" class="btn btn-secondary">
          <p class="btn-text">SigOut</p>
          <span class="square"></span>
        </a>
      </div>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
